.main {
    width: 100%;
    height: auto;
}
.confirm__content {
    width: 40%;
    height: auto;
    margin: 0 auto;
    padding: 30px 15px;
}

.confirm__heading {
    margin-bottom: 40px;
    text-align: center;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    width: 20%;
    padding: 15px;
    text-align: left;
    font-weight: bold;
}

.confirm-table__text {
    padding: 15px;
}

.confirm-table__text input {
    width: 100%;
    height: auto;
    border: none;
    outline: none;
}
.confirm-table__text--opinion input {
    width: 100%;
    height: 500px;
    border: none;
    outline: none;
}

.opinion {
    width: 100%;
    height: auto;
    padding: 10px;
    overflow-wrap: break-word;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    width: 20%;
    height: auto;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}
.back__button {
    text-align: center;
}

button.back--btn {
    border: none;
    background: none;
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}
