.main {
    width: 100%;
    height: auto;
}

.contact-form__content {
    max-width: 60%;
    margin: 0 auto;
    padding: 30px 15px;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
}

.form {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.form__group-title {
    display: flex;
    width: 50%;
}

.form__label--item {
    width: 80%;
    padding: 4px 6px;
    border-radius: 3px;
    text-align: left;
    font-weight: bold;
}

.required {
    margin-left: 10px;
    color: #ff0000;
}

.form__label--item-sample {
    text-align: left;
    padding: 10px;
    opacity: 0.5;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__group-content-name {
    display: flex;
    width: 100%;
}

.form__group-last-name {
    margin-right: 5%;
}

.form__group-first-name,
.form__group-last-name {
    width: 100%;
}

.form__group-content {
    width: 100%;
}

.form__group-content__gender {
    text-align: left;
    width: 100%;
}

.form__group-gender {
    display: flex;
    justify-content: space-between;
}

.form__input--text input,
.form__input--text-name input,
.form__input--text-postcode input,
.form__input--textarea textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    appearance: none;
}

.form__input--text input,
.form__input--text-name input,
.form__input--text-postcode input {
    height: 40px;
}

.gender__name {
    padding-left: 15px;
}
.gender__check--male {
    transform: scale(1.5);
    accent-color: black;
}
.gender__check--female {
    margin-left: 20px;
    transform: scale(1.5);
    accent-color: black;
}

.postcode__icon {
    margin: auto 0;
    text-align: center;
    padding-right: 10px;
}

.form__label--item-sample-postcode {
    padding-left: 10%;
    text-align: left;
    opacity: 0.5;
}

.form__input--text-postcode {
    display: flex;
}

.form__input--textarea textarea {
    height: 200px;
    resize: none;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    width: 20%;
    height: auto;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}
