.header {
    background: #000;
}

.header__inner {
    max-width: 1230px;
    margin: 0 auto;
    padding: 20px 15px;
}

.header__logo {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}

.main {
    width: 1280px;
    height: 800px;
    margin: auto;
}

.thanks__container {
    position: relative;
    width: 100%;
    height: 100%;
}

.thanks__content {
    position: absolute;
    width: 50%;
    height: 200px;
    margin: auto;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.top__button-submit {
    width: 20%;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}
